{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}
    {% for issueList in issueList %}
        <li>
            {{ issueList }}
        </li>
    {% endfor %}

{% endblock %}