{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}
    {% for fullIssue in fullIssues %}
        <li>
        {% for issue in fullIssues %}
            {{ issue }}
        </li>
    {% endfor %}
    {% endfor %}

{% endblock %}