{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}
    {% for fullIssue in fullIssue %}
        <li>
            {{ fullIssue }}
        </li>
    {% endfor %}

{% endblock %}