{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}
    {% for overdueissues in overdueissues %}
        <li>
            {{overdueissues }}
        </li>
    {% endfor %}

{% endblock %}
