{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}
    {% for fullIssue in fullIssues %}
        {% for a in fullIssue %}
            {% for b in a %}
                <li>
                   {{ b }}
                </li>
    {% endfor %}
        {% endfor %}
            {% endfor %}
{% endblock %}
