{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}

    {% for description in issuesList %}

        {% for nameProject in issueNameAllProject %}
            <div>Issue description</div> <li>{{ description }}</li>
            <div>Name Project</div> <li>{{ nameProject }}</li> <br>

        {% endfor %}

    {% endfor %}

{% endblock %}
