{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}
    {% for project in projects %}
        {% for a in project %}
            {% for b in a %}
                {% for c in b %}
                    {% for d in c %}
        <li>
            {{ d }}
        </li>
    {% endfor %}
                 {% endfor %}
                    {% endfor %}
                        {% endfor %}
                            {% endfor %}

{% endblock %}
