{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Project
{% endblock %}

{% block content %}
    {% for name in projectListName %}
        <p>Project Name:</p> <li>{{ name }}</li> <br>
    {% endfor %}

{% endblock %}
