{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}
    {% for projekt in clients %}
        <li>
            {{ projekt }}
        </li>
    {% endfor %}

{% endblock %}
