{% extends "AppBundle:Layouts:main.html.twig" %}

{% block title %}
    Wall
{% endblock %}

{% block content %}
    {% for client in client %}
        <li>
            {{client }}
        </li>
    {% endfor %}

{% endblock %}
